@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Github Study Program<br />
    Bangladeshi Professionals in Denmark <br />
    Copenhagen, Denmark <br />
    <abbr title="Phone">Phone: 71182356</abbr><br />
    Developers group
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
